.env
.env.*

bin/
obj/
out/
publish/
dist/

.vs/
.vscode/
.idea/

*.user
*.suo
*.userosscache
*.sln.docstates

*.nupkg
packages/

*.log
logs/

*.db

Thumbs.db
.DS_Store

node_modules/
npm-debug.log
yarn-error.log

secrets/
secrets.json
*.secret
*.tmp
*.temp
